@model ES.Server.Client

@{
    ViewBag.Title = "详情--门店管理";
}

<h2>详情</h2>

<div>
    <h4>门店管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCurrent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCurrent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.Label(Tools.GetSelectedTextByTableColumn("Client", "Type", Model.Type.ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.Label(Tools.GetSelectedTextByTableColumn("Client", "Status", Model.Status.ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回管理页", "Index")
</p>
